.todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.todos > h2 {
  margin-bottom: 10px;
}

.add-todo {
  margin-bottom: 20px;
  width: 50%;
  box-shadow: var(--main-shadow);
  border-radius: 10px;
}

.add-todo > input {
  padding: 15px 20px;
  border: none;
}

.add-todo > input:focus {
  outline: none;
}

.add-todo__inp {
  width: 80%;
  border-radius: 10px 0 0 10px;
}

::placeholder {
  color: lightgray;
}

.add-todo__btn {
  width: 20%;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  color: var(--main-color);
  font-weight: 600;
  background-color: #fff;
  border-left: 1px solid var(--main-color);
  transition: 150ms;
}

.add-todo__btn:hover {
  background-color: var(--main-hover);
}

.todos__list {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--main-shadow);
  border-radius: 10px;
  transition: 150ms;
  min-width: 280px;
}

.todos__list > div {
  border-bottom: 1px solid var(--main-hover);
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.todos__list > div:last-child {
  border-bottom: none;
}

.todos__list_buttons {
  display: flex;
  gap: 10px;
}

.delete-btn {
  background-color: rgb(236, 236, 236);
}

.delete-btn:hover {
  background-color: rgb(216, 216, 216);
}

@media screen and (max-width: 1000px) {
  .todos__list {
    width: 70%;
  }
}


@media screen and (max-width: 500px) {
  .todos__list {
    width: 85%;
  }
}